*{
    padding: 0;
    margin: 0;
    font-family: 'EB Garamond', serif;
}

head{
    margin-top: 25px;
    border: 50px solid #d5927f;
    box-shadow: 2px;

}
header{
    font-size: 35px;    
   
    
}
    
    
.links{
    display:inline-flex;
    font-size: 25px;
    list-style: none;
    padding: 50px;
    float: right;
    text-align: right;
    

}

body{
    height: 100vh;
    background: #F0ede6;
       
}

.boutme{
    margin-left: 10px;
    width: 75%;
    border: 3px solid #d5927f;
    margin-top: 50px;
    background-color: white;
    box-shadow: 11px 1px 7px 9px white;
}

.boutme:hover{
    box-shadow: 0 8px 15px #d5927f;
}

p1{ 
    display: inline;
}

section{
    line-height: 60px;
    border:white;
    padding: 5px;
    margin-bottom: 100px;
    
}

.mainimage{
    height: 200px;
    width: 190px;
    float: right;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-top: -20px;

   
   
}
.card{
    display: inline-flex;
  flex-wrap: wrap;
  margin: 30px;
  left: 45px;
  border: 50;
  box-shadow: #e24e42;
  border-color: #d5927f;
}

.name{
    text-align: center;
    margin-top: 30px;
}
.card-text{
    width: 100%;
    height:200px;
    right: 60px;
}

.card-text:hover{
    transform: scale(1.1);
}

.card1 {
    margin-right: 40px;
    margin-top: 30px;
    float: right;
    width: 190px;
    height: 254px;
    background: #f5f5f5;
    padding: 2rem 1.5rem;
    transition: box-shadow .3s ease, transform .2s ease;
   }
   
   .card1-info {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform .2s ease, opacity .2s ease;
   }
   

   /*Card footer*/
   .card1-social {
    transform: translateY(200%);
    display: flex;
    justify-content: space-around;
    width: 100%;
    opacity: 0;
    transition: transform .2s ease, opacity .2s ease;
   }
   
   .card1-social__item {
    list-style: none;
   }
   
   .card1-social__item svg {
    display: block;
    height: 18px;
    width: 18px;
    fill: #515F65;
    cursor: pointer;
    transition: fill 0.2s ease ,transform 0.2s ease;
   }
   
   /*Text*/
   .card-title {
    color: #333;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 2rem;
   }
   
   .card1-subtitle {
    color: #859ba8;
    font-size: 0.8em;
   }
   
   /*Hover*/
   .card1:hover {
    box-shadow: 0 8px 50px #23232333;
   }
   
   .card1:hover .card-info {
    transform: translateY(-5%);
   }
   
   .card1:hover .card-social {
    transform: translateY(100%);
    opacity: 1;
   }
   
   .card1-social__item svg:hover {
    fill: #232323;
    transform: scale(1.1);
   }
   
   .card1-avatar:hover {
    transform: scale(1.1);
   }

   